<div class="action_desc">
    <a href="#">❓ ШПАРГАЛКА ❓</a>
    <div class="action_desc_content">
        <p class="col-md-12 pull-left">
            Кнопка <b>Добавить</b> необходима для добавление новой записи в таблицу
        </p>
        <p class="col-md-12 pull-left">
            По уомлчанию все поля в таблице обязательны для заполнения, но если в таблице присуствуют поля с <span style="border: 3px solid #fc86ec">таким контуром</span>, то такие поля являються необязательными
        </p>
        <p class="col-md-12 pull-left">
            💩 - Обозначить Устаревшим. В случае например если эта запись создана давно и используеться в уже созданных заказах - удалить ее будет нельзя. Тогда можно пометить ее как устаревшую, и она (оффер, параметр итд) не будет более выводиться на сайте, но и не будет удалена.
        </p>
        <p class="col-md-12 pull-left">
            👍 - Снять флаг Устаревшее. Действие обратное вышоописанному, если запись случайно было помечена или потребовалось вернуть обратно со временем.
        </p>
        <p class="col-md-12 pull-left">
            ❌ - Удалить. Применять если запись была создана случайно или лишней (т.е. еще не было использована для создания заказа)
        </p>
        <p class="col-md-12 pull-left">
            Цвета строк записей говорят о следующем: <span style="background-color: #e2ffef;">Новая запись</span> <span style="background-color: #ffd5d5;">Удалить запись</span> <span style="background-color: #c5bbfe;">Устаревшая запись</span> <span style="background-color: #fff3d1;">Измененная запись</span>
        </p>
        <p class="col-md-12 pull-left">
            Модель - Аббревиатура iPhone
        </p>
        <p class="col-md-12" style="width: 300px; display: inline-block; vertical-align: top;">
            Xs Max Dual Sim - XsMaxDS <br />
            Xs Max - XsMax <br />
            Xs - Xs <br />
            Xr - Xr <br />
            Xr - Xr <br />
            X - X <br />
            SE - SE <br />
            8Plus - 8Plus <br />
            8 - 8 <br />
        </p>
        <p class="col-md-12" style="width: 300px; display: inline-block; vertical-align: top;">
            7Plus - 7Plus <br />
            7 - 7 <br />
            6sPlus - 6sPlus <br />
            6s - 6s <br />
            6Plus - 6Plus <br />
            6 - 6 <br />
            5s - 5s <br />
            5 - 5 <br />
            5c - 5c <br />
        </p>
    </div>
</div>