{% extends "admin_panel/layouts/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-12 align-self-center">
                <h3 class="col-md-12 text-themecolor pull-left">Заказы на выкуп и trade-in</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="col-md-12">
                                <h3 class="col-md-10 text-themecolor pull-left"><span class="lstick"></span>Информация о заказе</h3>
                                <a class='pull-right btn btn-warning' href="{{ back_link }}">Назад</a>
                            </div>
                        </div>
                        <p>{{ msg|safe }}</p>
                        <div class="telegram_send_status_succ alert alert-success" role="alert">Сообщение отправлено</div> 
                        <div class="telegram_send_status_err alert alert-danger" role="alert">Ошибка отправления</div>
                        <a class='order-send-telegram btn btn-primary' data-order-info='{{order_id}}' href="#">Отправить в Telegram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
