{% extends "admin_panel/layouts/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-12 align-self-center">
                <h3 class="col-md-12 text-themecolor pull-left">Загрузка цен {{ title }}</h3>
            </div>
        </div>
        {% if data and data['scc'] %}        
            <div class="alert alert-success" role="alert">Данные обновлены</div>
        {% endif %}
        {% if error %}
            <div class="user_search_status alert alert-warning" role="alert">Ошибка загрузки, проверь XLSX файл</div>
        {% endif %}
        <div class="updates_status alert alert-danger" role="alert"> </div>
        <div class="updates_status alert alert-warning" role="alert"> </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="{{ form }}_prices_form" method="post" action="/admin/helpers/{{ type }}" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="excp_file">XLSX файл с ценами</label>
                                <input type="file" required class="form-control-file" name="excp_file" id="excp_file">
                            </div>
                            <button type="submit" class='btn btn-secondary col-md-3' href="#">Загрузить</button>
                        </form>
                        <!-- </br><p>Формат загружаемого CSV файла. Один столбец, без имени столбца, с номерами телефонов. Формат телефонов не важен, они парсятся</p>
                        <img src="/static/assets/images/csv_format.png" width="200" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
