{% extends "admin_panel/layouts/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-12 align-self-center">
                <h3 class="col-md-12 text-themecolor pull-left">TradeIn iPhone</h3>
                {% include "admin_panel/layouts/action_desc.html" %}
            </div>
        </div>
        <div class="updates_status alert alert-success" role="alert">Данные обновлены</div>
        <div class="updates_status alert alert-danger" role="alert"> </div>
        <div class="updates_status alert alert-warning" role="alert"> </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">

                        <div class="d-flex">
                            <div class="col-md-12">
                                <h3 class="col-md-9 text-themecolor pull-left"><span class="lstick"></span>Цены на новые iPhone</h3>
                                <a class='create_entry pull-right btn btn-success' href="#">Добавить</a>
                            </div>
                        </div>
                        <table id="sort_table" class="table offers_table">
                            <thead>
                                <tr>
                                    <th>Артикул</th>
                                    <th>Модель</th>
                                    <th>Память</th>
                                    <th>Цена</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set cur_model = {'name': ''} %}
                                {% for offer in offers_list %}
                                    {% if cur_model.name != offer.models_names and offer.deprecated!=1 %}
                                        <tr id="{{ offer.models_iphones }}"><td colspan="4"><h3>iPhone {{ offer.models_names }}</h3></td></tr>
                                    {% endif %}
                                    <tr {% if offer and offer.deprecated==1 %}class="deprecated_old"{% endif %}>
                                        {% if cur_model.update({'name': offer.models_names}) %}{% endif %}
                                        <td class="optional">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="vendor_code" placeholder="Артикул" value="{{ offer.vendor_code|default("", True) if offer }}" required>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-model-macbook js-states form-control" name="models_iphones" required>
                                                    <option></option>
                                                    {% for models_iphone in params.models_iphones %}
                                                        <option value="{{ models_iphone.val }}" {% if offer and offer.models_iphones==models_iphone.val %}selected{% endif %}>{{ models_iphone.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-memory js-states form-control" name="memory" required>
                                                    <option></option>
                                                    {% for memory in params.memory %}
                                                        <option value="{{ memory.val }}" {% if offer and offer.memory==memory.val %}selected{% endif %}>{{ memory.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="price" placeholder="Цена" value="{{ offer.price if offer }}" required>
                                            </div>
                                        </td>

                                        {% if offer and offer.deprecated==1 %}
                                            <td class="action_button">
                                                <a class="respawn" href="#">👍</a>
                                            </td>
                                        {% else %}
                                            <td class="action_button">
                                                <a class="deprecated" href="#">💩</a>
                                            </td>
                                        {% endif %}
                                        <td class="action_button">
                                            <a class="purge" href="#">❌</a>
                                        </td>
                                        <input type="hidden" name="offer_id" value="{{ offer.id if offer }}">
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <input type="hidden" name="updates_offers_type" value="iphone_tradein">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="models_navigate">
        {% set cur_model_button = {'name': ''} %}
        {% for offer in offers_list %}
            {% if cur_model_button.name != offer.models_iphones and offer.deprecated!=1 %}
                <span goto="{{ offer.models_iphones }}" class="label label-primary">iPhone {{ offer.models_names }}</span>
            {% endif %}
            {% if cur_model_button.update({'name': offer.models_iphones }) %}{% endif %}
        {% endfor %}
    </div>

{% endblock %}
