{% extends "admin_panel/layouts/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-12 align-self-center">
                <h3 class="col-md-12 text-themecolor pull-left">TradeIn MacBook</h3>
                {% include "admin_panel/layouts/action_desc.html" %}
            </div>
        </div>
        <div class="updates_status alert alert-success" role="alert">Данные обновлены</div>
        <div class="updates_status alert alert-danger" role="alert"> </div>
        <div class="updates_status alert alert-warning" role="alert"> </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="col-md-12">
                                <h3 class="col-md-9 text-themecolor pull-left"><span class="lstick"></span>Цены на новые MacBook</h3>
                                <a class='create_entry pull-right btn btn-success' href="#">Добавить</a>
                            </div>
                        </div>
                        <table id="sort_table" class="table offers_table">
                            <thead>
                                <tr>
                                    <th>Артикул</th>
                                    <th>Год</th>
                                    <th>Модель</th>
                                    <th>Память</th>
                                    <th>ОЗУ</th>
                                    <th>Процессор</th>
                                    <th>Граф. процессор</th>
                                    <th>Диагональ</th>
                                    <th>Наличие тачбара</th>
                                    <th>Цена</th>
                                    <th>Цена Apple</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set cur_model = {'name': ''} %}
                                {% for offer in offers_list %}
                                    {% if cur_model.name != offer.models_names+' '+offer.year|string and offer.deprecated!=1 %}
                                        <tr id="{{ offer.models_macbooks+offer.year|string }}"><td colspan="4"><h3>{{ offer.models_names+' '+offer.year|string }}</h3></td></tr>
                                    {% endif %}
                                    <tr {% if offer and offer.deprecated==1 %}class="deprecated_old"{% endif %}>
                                        {% if cur_model.update({'name': offer.models_names+' '+offer.year|string }) %}{% endif %}
                                        <td class="optional">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="vendor_code" placeholder="Артикул" value="{{ offer.vendor_code|default("", True) if offer }}" required>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="year" placeholder="Год выпуска" value="{{ offer.year if offer }}" required>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-model-macbook js-states form-control" name="models_macbooks" required>
                                                    {% for model_macbooks in params.models_macbooks %}
                                                        <option value="{{ model_macbooks.val }}" {% if offer and offer.models_macbooks==model_macbooks.val %}selected{% endif %}>{{ model_macbooks.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-memory js-states form-control" name="memory" required>
                                                    {% for memory in params.memory %}
                                                        <option value="{{ memory.val }}" {% if offer and offer.memory==memory.val %}selected{% endif %}>{{ memory.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-ram js-states form-control" name="ram" required>
                                                    {% for ram in params.ram %}
                                                        <option value="{{ ram.val }}" {% if offer and offer.ram==ram.val %}selected{% endif %}>{{ ram.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-cpu js-states form-control" name="cpu" required>
                                                    <option></option>
                                                    {% for cpu in params.cpu %}
                                                        <option value="{{ cpu.val }}" {% if offer and offer.cpu==cpu.val %}selected{% endif %}>{{ cpu.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td class="optional">
                                            <div class="form-group">
                                                <select class="select-subject-gpu js-states form-control" name="gpu">
                                                    <option></option>
                                                    {% for gpu in params.gpu %}
                                                        <option value="{{ gpu.val }}" {% if offer and offer.gpu==gpu.val %}selected{% endif %}>{{ gpu.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-inches js-states form-control" name="inches" required>
                                                    <option></option>
                                                    {% for inches in params.inches %}
                                                        <option value="{{ inches.val }}" {% if offer and offer.inches==inches.val %}selected{% endif %}>{{ inches.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-touch-bar js-states form-control" name="touch_bar" required>
                                                    {% for touch_bar in params.touch_bar %}
                                                        <option value="{{ touch_bar.val }}" {% if offer and offer.touch_bar==touch_bar.val %}selected{% endif %}>{{ touch_bar.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="price" placeholder="Цена" value="{{ offer.price if offer }}" required>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="apple_price" placeholder="Apple цена" value="{{ offer.apple_price if offer }}" required>
                                            </div>
                                        </td>

                                        {% if offer and offer.deprecated==1 %}
                                            <td class="action_button">
                                                <a class="respawn" href="#">👍</a>
                                            </td>
                                        {% else %}
                                            <td class="action_button">
                                                <a class="deprecated" href="#">💩</a>
                                            </td>
                                        {% endif %}
                                        <td class="action_button">
                                            <a class="purge" href="#">❌</a>
                                        </td>
                                        <input type="hidden" name="offer_id" value="{{ offer.id if offer }}">

                                    </tr>
                                {% endfor %}
                            </tbody>
                            <input type="hidden" name="updates_offers_type" value="macbook_tradein">
                        </table>
                        <button type="button" class="show_old_deprecated btn btn-info">Показать устаревшие модели 💩</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="models_navigate">
        {% set cur_model_button = {'name': ''} %}
        {% for offer in offers_list %}
            {% if cur_model_button.name != offer.models_macbooks+offer.year|string and offer.deprecated!=1 %}
                <span goto="{{ offer.models_macbooks+offer.year|string }}" class="label label-primary">{{ offer.models_names+' '+offer.year|string }}</span>
            {% endif %}
            {% if cur_model_button.update({'name': offer.models_macbooks+offer.year|string }) %}{% endif %}
        {% endfor %}
    </div>

{% endblock %}
