{% extends "admin_panel/layouts/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-12 align-self-center">
                <h3 class="col-md-12 text-themecolor pull-left">Выгрузка цен</h3>
                {% include "admin_panel/layouts/action_desc.html" %}
            </div>
        </div>
        {% if search_fail %}
            <div class="user_search_status alert alert-warning" role="alert">Не найдено цен по заданным параметрам</div>
        {% endif %}
        <div class="updates_status alert alert-success" role="alert">Данные обновлены</div>
        <div class="updates_status alert alert-danger" role="alert"> </div>
        <div class="updates_status alert alert-warning" role="alert"> </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="fboffload_form" method="post" action="/admin/priceload" enctype="multipart/form-data">
                            <div class="priceload_radio">
                                <label for="iphone">
                                    iPhone
                                    <input type="radio" name="type" checked id="iphone" value="iphone" />
                                </label>
                                <label for="ipad">
                                    iPad
                                    <input type="radio" name="type" id="ipad" value="ipad" />
                                </label>
                                <label for="watches">
                                    Watches
                                    <input type="radio" name="type" id="watches" value="watches" />
                                </label>
                                <label for="macbook">
                                    MacBook
                                    <input type="radio" name="type" id="macbook" value="macbook" />
                                </label>
                                <label for="android">
                                    Android
                                    <input type="radio" name="type" id="android" value="android" />
                                </label>
                                <label for="acc">
                                    Аксессы
                                    <input type="radio" name="type" id="acc" value="acc" />
                                </label>
                            </div>
                            <a class='fboffload_form btn btn-secondary col-md-3' href="#">Выгрузить</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-12 align-self-center">
                <h3 class="col-md-12 text-themecolor pull-left">Заявки</h3>
            </div>
        </div>
        {% if search_fail_orders %}
            <div class="user_search_status alert alert-warning" role="alert">Не найдено заявок по заданным параметрам</div>
        {% endif %}
        <div class="updates_status alert alert-success" role="alert">Данные обновлены</div>
        <div class="updates_status alert alert-danger" role="alert"> </div>
        <div class="updates_status alert alert-warning" role="alert"> </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="ordersload_form" method="post" action="/admin/ordersload" enctype="multipart/form-data">
                            <label for="excp_file">Диапазон дат для выгрузки</label>
                            <div class="form-group">
                                <label for="excp_file">от</label>
                                <input type="text" class="form-control col-md-4 begins" name="begins" placeholder="Формат: 2019-01-30" value="" required>
                                <label for="excp_file" style="margin-left: 30px;">до</label>
                                <input type="text" class="form-control col-md-4 ends" name="ends" placeholder="Формат: 2019-01-30" value="" required>
                            </div>
                            <div class="priceload_radio">
                                <label for="framecs">
                                    framecs
                                    <input type="radio" name="type" checked id="framecs" value="framecs" />
                                </label>
                                <label for="all">
                                    все
                                    <input type="radio" name="type" id="all" value="all" />
                                </label>
                            </div>
                            <a class='ordersload_form btn btn-secondary col-md-3' href="#">Выгрузить</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
