{% extends "admin_panel/layouts/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-12 align-self-center">
                {# <h3 class="col-md-12 text-themecolor pull-left">Промо-коды</h3> #}
            </div>
        </div>
        <div class="updates_status alert alert-success" role="alert">Данные обновлены</div>
        <div class="updates_status alert alert-danger" role="alert"> </div>
        <div class="updates_status alert alert-warning" role="alert"> </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">

                        <div class="d-flex heading--margin">
                            <div class="col-md-12">
                                <h3 class="col-md-9 text-themecolor pull-left"><span class="lstick"></span>Дата окончания Промо-кодов</h3>
                            </div>
                        </div>
                        <form id="promocode_date_form" method="post" action="">
                            <input type="text" class="form-control col-md-9" name="promocode_date" placeholder="Дата окончания" value="">
                            <a class='promocode_date_btn btn btn-secondary' href="#">Установить</a>
                        </form>
                        <div class="d-flex heading--margin">
                            <div class="col-md-12">
                                <h3 class="col-md-9 text-themecolor pull-left"><span class="lstick"></span>Промо-коды</h3>
                                <a class='create_entry pull-right btn btn-success' href="#">Добавить</a>
                            </div>
                        </div>
                        <table id="sort_table" class="table offers_table">
                            <thead>
                                <tr>
                                    <th>Код</th>
                                    <th>Тип сервиса</th>
                                    <th>Тип заказа</th>
                                    <th>Дата начала</th>
                                    <th>Дата окончания</th>
                                    <th>Сумма скидки</th>
                                    <th>Минимальная цена</th>
                                    <th>Максимальная цена</th>
                                    <th>Активный</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for code in codes_list %}
                                    <tr {% if code and code.active==0 %}class="deprecated_old promo_codes"{% endif %}>
                                        <td class="optional">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="code" placeholder="Код" value="{{ code.code|default("", True) if code }}" required>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-model-macbook js-states form-control" name="device_type" >
                                                    <option value="">Любой</option>
                                                    {% for device_type in params.device_type %}
                                                        <option value="{{ device_type.val }}" {% if code and code.type==device_type.val %}selected{% endif %}>{{ device_type.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-model-macbook js-states form-control" name="order_type" >
                                                    <option value="">Любой</option>
                                                    <option value="sell" {% if code and code.order_type=='sell' %}selected{% endif %}>Скупка</option>
                                                    <option value="tradein" {% if code and code.order_type=='tradein' %}selected{% endif %}>Трейдин</option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="started_at" placeholder="Дата начала" value="{{ code.started_at.strftime('%Y-%m-%d %H:%m') if code and code.started_at }}" >
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="ends_at" placeholder="Дата окончания" value="{{ code.ends_at.strftime('%Y-%m-%d %H:%m') if code and code.ends_at }}" >
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="price" placeholder="Сумма скидки" value="{{ code.price if code }}" required>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="min_price" placeholder="Минимальная цена" value="{{ code.min_price if code and code.min_price }}">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="max_price" placeholder="Максимальная цена" value="{{ code.max_price if code and code.max_price }}">
                                            </div>
                                        </td>

                                        {% if code and code.active==0 %}
                                            <td class="action_button">
                                                <a class="respawn" href="#">👍</a>
                                            </td>
                                        {% else %}
                                            <td class="action_button">
                                                <a class="deprecated" href="#">💩</a>
                                            </td>
                                        {% endif %}
                                        <td class="action_button">
                                            <a class="purge" href="#">❌</a>
                                        </td>
                                        <input type="hidden" name="code_id" value="{{ code.id if code }}">
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <input type="hidden" name="updates_offers_type" value="promo_codes">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
