{% extends "admin_panel/layouts/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-12 align-self-center">
                <h3 class="col-md-12 text-themecolor pull-left">Роботы-пылесосы</h3>
            </div>
        </div>
        <div class="updates_status alert alert-success" role="alert">Данные обновлены</div>
        <div class="updates_status alert alert-danger" role="alert"> </div>
        <div class="updates_status alert alert-warning" role="alert"> </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">

                        <div class="d-flex">
                            <div class="col-md-12">
                                <h3 class="col-md-9 text-themecolor pull-left"><span class="lstick"></span>Предложения по выкупу Роботов-пылесосов</h3>
                                <a class='create_entry pull-right btn btn-success' href="#">Добавить</a>
                            </div>
                        </div>
                        <table id="sort_table" class="table offers_table show_deprecated_old">
                            <thead>
                                <tr>
                                    <th>Артикул</th>
                                    <th>Устройство</th>
                                    <th>Модель</th>
                                    <th>Цена</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set cur_device = {'name': ''} %}
                                {% for offer in offers_list %}
                                    {% if cur_device.name != offer.device.u_name and offer.deprecated!=1 %}
                                        <tr id="{{ offer.device }}"><td colspan="4"><h3>{{ offer.device.name }}</h3></td></tr>
                                    {% endif %}
                                    <tr {% if offer and offer.deprecated==1 %}class="deprecated_old"{% endif %}>
                                        {% if cur_device.update({'name': offer.device.u_name}) %}{% endif %}
                                        <td class="optional">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="vendor_code" placeholder="Артикул" value="{{ offer.vendor_code|default("", True) if offer }}" required>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-model-macbook js-states form-control" name="device" required>
                                                    <option></option>
                                                    {% for robocleaner_device in params.robocleaner_device %}
                                                        <option value="{{ robocleaner_device.val }}" {% if offer and offer.device.u_name==robocleaner_device.val %}selected{% endif %}>{{ robocleaner_device.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-model-macbook js-states form-control" name="model" required>
                                                    <option></option>
                                                    {% for model in params.models %}
                                                        <option value="{{ model.val }}" {% if offer and offer.model==model.val %}selected{% endif %}>{{ model.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="price" placeholder="Цена" value="{{ offer.price if offer }}" required>
                                            </div>
                                        </td>

                                        {% if offer and offer.deprecated==1 %}
                                            <td class="action_button">
                                                <a class="respawn" href="#">👍</a>
                                            </td>
                                        {% else %}
                                            <td class="action_button">
                                                <a class="deprecated" href="#">💩</a>
                                            </td>
                                        {% endif %}
                                        <td class="action_button">
                                            <a class="purge" href="#">❌</a>
                                        </td>
                                        <input type="hidden" name="offer_id" value="{{ offer.id if offer }}">
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <input type="hidden" name="updates_offers_type" value="robocleaner_buyout">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
