{% extends "admin_panel/layouts/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-12 align-self-center">
                <h3 class="col-md-12 text-themecolor pull-left">TradeIn Apple Watch</h3>
                {% include "admin_panel/layouts/action_desc.html" %}
            </div>
        </div>
        <div class="updates_status alert alert-success" role="alert">Данные обновлены</div>
        <div class="updates_status alert alert-danger" role="alert"> </div>
        <div class="updates_status alert alert-warning" role="alert"> </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">

                        <div class="d-flex">
                            <div class="col-md-12">
                                <h3 class="col-md-9 text-themecolor pull-left"><span class="lstick"></span>Предложения по выкупу Apple Watch</h3>
                                <a class='create_entry pull-right btn btn-success' href="#">Добавить</a>
                            </div>
                        </div>
                        <table id="sort_table" class="table offers_table">
                            <thead>
                                <tr>
                                    <th>Артикул</th>
                                    <th>Модель</th>
                                    <th>Размер экрана</th>
                                    <th>Сост. как новый цена</th>
                                    <th>Сост. среднее цена</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for offer in offers_list %}
                                    <tr {% if offer and offer.deprecated==1 %}class="deprecated_old"{% endif %}>
                                        <td class="optional">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="vendor_code" placeholder="Артикул" value="{{ offer.vendor_code|default("", True) if offer }}" required>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-model-macbook js-states form-control" name="models_watches" required>
                                                    <option></option>
                                                    {% for models_watches in params.models_watches %}
                                                        <option value="{{ models_watches.val }}" {% if offer and offer.models_watches==models_watches.val %}selected{% endif %}>{{ models_watches.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <select class="select-subject-size_mm js-states form-control" name="size_mm" required>
                                                    <option></option>
                                                    {% for size_mm in params.size_mm %}
                                                        <option value="{{ size_mm.val }}" {% if offer and offer.size_mm==size_mm.val %}selected{% endif %}>{{ size_mm.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="price_best" placeholder="Состояние как новое цена" value="{{ offer.price_best if offer }}" required>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="price_normal" placeholder="Состояние среднее цена" value="{{ offer.price_normal if offer }}" required>
                                            </div>
                                        </td>

                                        {% if offer and offer.deprecated==1 %}
                                            <td class="action_button">
                                                <a class="respawn" href="#">👍</a>
                                            </td>
                                        {% else %}
                                            <td class="action_button">
                                                <a class="deprecated" href="#">💩</a>
                                            </td>
                                        {% endif %}
                                        <td class="action_button">
                                            <a class="purge" href="#">❌</a>
                                        </td>
                                        <input type="hidden" name="offer_id" value="{{ offer.id if offer }}">
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <input type="hidden" name="updates_offers_type" value="watches_buyout">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
