$black: #121212;
$white: #f5f5f5;
$purple: #896de5;
$violent: #5a507f;
$blue: #36b8d0;
$pink: #de5694;
$yellow: #fea606;
$red: #ff4343;
$gray-light: #f1f1f1;
$gray-def: #a0a0a0;
$gray-text: #6c6c6c;
$gray: #7b7b7b;
$blued: #055ec1;
