<footer>
  <div class="container">
      <div class="footer__copy">© 2016 - <span>2018</span> damprodam.ru</div>
      <div class="footer__nav">
        <ul>
          <li class="nav__item_social_text">Мы на связи:</li>
          <!--/* <li class="nav__item_social"><a class="tlg" target="_blank" href="https://t.me/DamProdam_bot">Telegram</a></li> */-->
          <li class="phone">+7 499 348 8478</li>
          <li class="mail"><a href="mailto:team@damprodam.ru">✉️</a></li>
          <li class="agreement"><a href="/legal-terms/">Cоглашение</a></li>
        </ul>
      </div>
  </div>
</footer>
{% if dev_server %}
<script type="text/javascript" src="/webpack/js/bundle.js"></script>
{% else %}
<script type="text/javascript" src="/webpack/js/bundle.js"></script>
{% endif %}
