<head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/ico/apple-touch-icon-57x57.png?h=30b6b8" />
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/ico/apple-touch-icon-60x60.png?h=8dd3d2" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/ico/apple-touch-icon-72x72.png?h=21ce9a" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/ico/apple-touch-icon-76x76.png?h=2d99d4" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/ico/apple-touch-icon-114x114.png?h=48c1b5" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/ico/apple-touch-icon-120x120.png?h=fa2264" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/ico/apple-touch-icon-144x144.png?h=f42031" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/ico/apple-touch-icon-152x152.png?h=bcad7e" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/ico/apple-touch-icon-180x180.png?h=5b86fe" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/ico/favicon-32x32.png?h=5acb6b" />
    <link rel="icon" type="image/png" sizes="194x194" href="/static/images/ico/favicon-194x194.png?h=92af96" />
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/ico/favicon-96x96.png?h=1a7832" />
    <link rel="icon" type="image/png" sizes="192x192" href="/static/images/ico/android-chrome-192x192.png?h=7df5b3" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/ico/favicon-16x16.png?h=fa704b" />
    <link rel="manifest" href="/static/images/ico/manifest.json?h=39cb8b" />
    <link rel="mask-icon" color="#5bbad5" href="/static/images/ico/safari-pinned-tab.svg?h=a4ccde" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-TileImage" content="/static/images/ico/mstile-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="google-site-verification" content="SnoIqQ8ZmJTt_X0SUzcYoC1Gboim90WzN_wvDuvj1sw" />

    <meta property="og:locale" content="ru_RU" />
    <meta property="og:site_name" content="damprodam.ru" />
    <meta property="og:title" content="" />
    <meta itemprop="name" content="" />
    <meta name="twitter:title" content="" />
    <meta property="og:type" content="site" />
    <meta name="yandex-verification" content="bac11b976434c43f" />


    {% if dev_server %}
    <link rel="stylesheet" href="/webpack/style/css/style.css" />
    {% else %}
    <link rel="stylesheet" href="/static/style/css/style.css" />
    {% endif %}

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
